extends page

block page-content
  .page-header
    h1
      = title
      |  
      small Taste it don't waste it!
  
  .panel.panel-default
    .panel-body
      form.form-inline.row(role='form', action='', method='post')
        .form-group.col-md-8
          label.sr-only(for='newfood') Food
          input#newfood.form-control(name='newfood', placeholder='The name of the new food', required) 
        .form-group.col-md-2
          label.sr-only(for='eatby') Eat by
          input#eatby.form-control(name='eatby', type='date', placeholder='Eat by date', required)
        .form-group.col-md-2
          button.btn.btn-primary(type=submit) add new food

  each items, category in food
    - if (category == 'Past Its Best') panelClass = 'panel-danger'
    - else if (category == 'Today') panelClass = 'panel-warning'
    - else panelClass = 'panel-success'
    div(class='panel', class=panelClass)
      .panel-heading
        h2.panel-title= category
      table.table.table-condensed
        each item in items
          tr
            td.col-md-7= item.value.name
            td.col-md-3= item.value.formattedUseby
            td.col-md-2
              form.form-inline.row(role='form', action='', method='post')
                button.btn.btn-sm.btn-primary(type=submit, name='tasted') Tasted it
                button.btn.btn-sm.btn-danger(type=submit, name='wasted') Wasted it
                input(name='_id', type='hidden' , value= item.value._id) 



